bg-success-dark {
    background-color: #2d6a4f;
}

bg-warning-dark {
    background-color: #9c703f; 
}
bg-dark-red {
  background-color: #8B0000; /* Dark Red Color */
}
bg-dark-green {
  background-color: #006400; /* Dark Green Color */
}