
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 mb-3">
			<div class="card  bg-secondary text-white">
				<div class="card-header text-center">
					<div>
						<h1>{{player1.deckName}}</h1>
						<h5>{{player1.color}}</h5>
						<h5 class="text-success text-center" ng-bind="updateStatus"></h5>
					</div>
				</div>
				<div class="card-body">
					<form name="playForm1">
						<div class="form-group">
							<label class="font-weight-bold">Life Total:</label>
							<div class="input-group">
								<button class="btn btn-outline-light" type="button"
									ng-click="player1.lifeTotal = player1.lifeTotal - 1">-</button>
								<input type="number" class="form-control text-center"
									ng-model="player1.lifeTotal" readonly>
								<button class="btn btn-outline-light" type="button"
									ng-click="player1.lifeTotal = player1.lifeTotal + 1">+</button>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player2.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer2 = player1.commandDamageFromPlayer2 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player1.commandDamageFromPlayer2" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer2 = player1.commandDamageFromPlayer2 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player3.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer3 = player1.commandDamageFromPlayer3 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player1.commandDamageFromPlayer3" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer3 = player1.commandDamageFromPlayer3 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player4.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer4 = player1.commandDamageFromPlayer4 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player1.commandDamageFromPlayer4" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.commandDamageFromPlayer4 = player1.commandDamageFromPlayer4 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Poison Counter:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.poisonCounter = player1.poisonCounter - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player1.poisonCounter" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player1.poisonCounter = player1.poisonCounter + 1">+</button>
					</div>
				</div>
				</form>
			</div>

		</div>


		<div class="col-sm-6 mb-3">
			<div class="card bg-secondary text-white">
				<div class="card-header text-center">
					<div>
						<h1>{{player2.deckName}}</h1>
						<h5>{{player2.color}}</h5>
						<h5 class="text-success text-center" ng-bind="updateStatus"></h5>
					</div>
					<h5 class="text-success" ng-bind="createStatus"></h5>
				</div>
				<div class="card-body">
					<form name="playForm2">
						<div class="form-group">
							<label class="font-weight-bold">Life Total:</label>
							<div class="input-group">
								<button class="btn btn-outline-light" type="button"
									ng-click="player2.lifeTotal = player2.lifeTotal - 1">-</button>
								<input type="number" class="form-control text-center"
									ng-model="player2.lifeTotal" readonly>
								<button class="btn btn-outline-light" type="button"
									ng-click="player2.lifeTotal = player2.lifeTotal + 1">+</button>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player1.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer1 = player2.commandDamageFromPlayer1 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player2.commandDamageFromPlayer1" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer1 = player2.commandDamageFromPlayer1 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player3.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer3 = player2.commandDamageFromPlayer3 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player2.commandDamageFromPlayer3" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer3 = player2.commandDamageFromPlayer3 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player4.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer4 = player2.commandDamageFromPlayer4 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player2.commandDamageFromPlayer4" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.commandDamageFromPlayer4 = player2.commandDamageFromPlayer4 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Poison Counter:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.poisonCounter = player2.poisonCounter - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player2.poisonCounter" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player2.poisonCounter = player2.poisonCounter + 1">+</button>
					</div>
				</div>
				</form>
			</div>

		</div>


		<div class="col-sm-6 mb-3">
			<div class="card bg-secondary text-white">
				<div class="card-header text-center">
					<div>
						<h1>{{player3.deckName}}</h1>
						<h5>{{player3.color}}</h5>
						<h5 class="text-success text-center" ng-bind="updateStatus"></h5>
					</div>
					<h5 class="text-success" ng-bind="createStatus"></h5>
				</div>
				<div class="card-body">
					<form name="playForm3">
						<div class="form-group">
							<label class="font-weight-bold">Life Total:</label>
							<div class="input-group">
								<button class="btn btn-outline-light" type="button"
									ng-click="player3.lifeTotal = player3.lifeTotal - 1">-</button>
								<input type="number" class="form-control text-center"
									ng-model="player3.lifeTotal" readonly>
								<button class="btn btn-outline-light" type="button"
									ng-click="player3.lifeTotal = player3.lifeTotal + 1">+</button>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player1.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer1 = player3.commandDamageFromPlayer1 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player3.commandDamageFromPlayer1" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer1 = player3.commandDamageFromPlayer1 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player2.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer2 = player3.commandDamageFromPlayer2 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player3.commandDamageFromPlayer2" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer2 = player3.commandDamageFromPlayer2 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player4.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer4 = player3.commandDamageFromPlayer4 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player3.commandDamageFromPlayer4" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.commandDamageFromPlayer4 = player3.commandDamageFromPlayer4 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Poison Counter:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.poisonCounter = player3.poisonCounter - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player3.poisonCounter" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player3.poisonCounter = player3.poisonCounter + 1">+</button>
					</div>
				</div>
				</form>
			</div>

		</div>


		<div class="col-sm-6 mb-3">
			<div class="card bg-secondary text-white">
				<div class="card-header text-center">
					<div>
						<h1>{{player4.deckName}}</h1>
						<h5>{{player4.color}}</h5>
						<h5 class="text-success text-center" ng-bind="updateStatus"></h5>
					</div>
					<h5 class="text-success" ng-bind="createStatus"></h5>
				</div>
				<div class="card-body">
					<form name="playForm4">
						<div class="form-group">
							<label class="font-weight-bold">Life Total:</label>
							<div class="input-group">
								<button class="btn btn-outline-light" type="button"
									ng-click="player4.lifeTotal = player4.lifeTotal - 1">-</button>
								<input type="number" class="form-control text-center"
									ng-model="player4.lifeTotal" readonly>
								<button class="btn btn-outline-light" type="button"
									ng-click="player4.lifeTotal = player4.lifeTotal + 1">+</button>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player1.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer1 = player4.commandDamageFromPlayer1 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player4.commandDamageFromPlayer1" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer1 = player4.commandDamageFromPlayer1 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player2.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer2 = player4.commandDamageFromPlayer2 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player4.commandDamageFromPlayer2" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer2 = player4.commandDamageFromPlayer2 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Command Damage from
						{{player4.deckName}}:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer3 = player4.commandDamageFromPlayer3 - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player4.commandDamageFromPlayer3" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.commandDamageFromPlayer3 = player4.commandDamageFromPlayer3 + 1">+</button>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold">Poison Counter:</label>
					<div class="input-group">
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.poisonCounter = player4.poisonCounter - 1">-</button>
						<input type="number" class="form-control text-center"
							ng-model="player4.poisonCounter" readonly>
						<button class="btn btn-outline-light" type="button"
							ng-click="player4.poisonCounter = player4.poisonCounter + 1">+</button>
					</div>
				</div>
				</form>
			</div>

		</div>
	</div>

</div>
<div class="card-footer text-center col-sm-12">
	<button type="button" class="bg-success text-white form-control mb-1 btn-outline-light"
		ng-disabled="!selectedPlayer" ng-click="updateWinner(selectedPlayer)">Select
		Winner</button>
	<select ng-model="selectedPlayer" required
		ng-options="value for value in players"
		class="form-control text-center  mb-1">
	</select>
	<button type="button" class="btn btn-info form-control btn-outline-light"
		ng-click="goToSearchView()">Back To Search</button>
</div>


