<style>
	body { 
	  background: url(./image/S0DgYWl.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>
<div class="card mt-3">
	<div class="card-header bg-info">
		<h4>Search For Games</h4>
		<button class="btn btn-success" ng-click="getAllGames()" >Refresh Games</button>
	</div>
	<div class="card-body">
		<table class="table table-hover ">
			<thead class="thead-light">
				<tr>
					<th>Player Id</th>
					<th>Deck Name</th>
					<th>Color</th>
					<th>Winner</th>
					<th>Game ID</th>
					<th>Create Date</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in players" 
				ng-click="goToUpdateView(player.playerId)" class="text-white" >
					<td>{{player.playerId}}</td>
					<td>{{player.deckName}}</td>
					<td>{{player.color}}</td>
					<td >{{player.winner}}</td>
					<td>{{player.gameId}}</td>
					<td>{{player.updateDateTime}}</td>					
				</tr>
			</tbody>		
		</table>	
	</div>
	<div class="card-footer bg-info">
		Please select a player to update/delete
	</div>
</div>