<style>
	body { 
	  background: url(./image/S0DgYWl.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>
<div class="row">
	<div class="col-sm-7">
		<div class="card bg-light">
			<div class="card-header text-center">
				<h3>Update Player</h3>
				<h5 class="text-success text-center" ng-bind="updateStatus"></h5>
			</div>			
		
			<div class="card-body">
			<form name="updateForm">
				<div class="form-group">
					<label for="title" class="font-weight-bold">DeckName:</label>
					<input ng-model="player.deckName" required ng-minlength="2"
						name="title" type="text" class="form-control"
						id="title">
						<span class="text-danger" ng-if="!updateForm.title.$valid">
						Required and must be at least 2 characters.
						</span>
						
				</div>
				<div class="form-group">
					<label for="color" class="font-weight-bold">Color Identity:</label>
					<select ng-options="value for value in colors"
						ng-model="player.color" class="form-control" id="color">
					</select>
				</div>
				<div class="form-group">
					<label for="releaseYear" class="font-weight-bold">Winner:</label>
						<select ng-options="value for value in winner"
						ng-model="player.winner" class="form-control">
					</select>
				</div>
				<div>
					<span class="font-weight-bold">Player ID:</span> <span
						ng-bind="player.playerId" id="playerId"></span>
				</div>
				<div>
					<span class="font-weight-bold">Create Date:</span> <span
						ng-bind="player.createDateTime" id="createDateTime"></span>
				</div>
				<div>
					<span class="font-weight-bold">Update Date:</span> <span
						ng-bind="player.updateDateTime" id="updateDateTime"></span>
				</div>
			</form>
			</div>
			<div class="card-footer text-center">
				<button type="button" class="btn btn-success" ng-disabled="updateForm.$invalid || disableUpdate" ng-click="updatePlayer()">
				Update
				</button>
				<button type="button" class="btn btn-info" ng-click="goToSearchView()">
				Cancel
				</button>
			</div>
		</div>
	</div>
	<div class="col-sm-5">		
		<div class="pt-5">
		</div>
	</div>
</div>
