bg-success-dark {
    background-color: #2d6a4f;
}

bg-warning-dark {
    background-color: #9c703f; 
}
bg-dark-red {
  background-color: #8B0000; /* Dark Red Color */
}
bg-dark-green {
  background-color: #006400; /* Dark Green Color */
}

#label-input {
  transition: all 0.1s ease-in-out;
  color: #2c2c54;
  position: absolute;
  top: 30%;
  left: 18px;
  transform: scale(0.95);
  opacity: 1;
  pointer-events: none;
}

.input-base {
  border-radius: 10px;
}

#input:focus ~ label#label-input,
#input:not(:placeholder-shown) ~ #label-input {
  top: -20% !important;
  left: 2px !important;
  transform: scale(0.8);
  background: white;
  color: black;
  padding: 0 6px;
  opacity: 1;
}

#input {
  transition: outline 0.2s ease;
  font-size: 1rem;
  outline-color: var(--button-text);
  outline: unset;
  border: 1px solid #bbbbbb;
  padding: 17px 10px 10px 17px;
  width: 100%;
}

#input:focus {
  box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px rgb(92, 127, 202);
}

.relative {
  position: relative;
}
    .custom-opacity {
        position: relative;
    }
    .jumbotron {
        background-image: url(./image/magicCard.png);
        background-size: cover;
        opacity: 0.7; /* Adjust the opacity of the background image */
        position: relative;
        overflow: hidden;
        color: #000; /* Set text color to dark */
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); /* Add a subtle white text shadow for better visibility */
    }
    .text-exempt {
        position: relative; /* Ensure z-index works */
        z-index: 1; /* Place the text above the background */
        opacity: 1; /* Make text fully opaque */
        color: #000; /* Set text color to dark */
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); /* Add a subtle white text shadow for better visibility */
    }
	
    .has-bg-image {
        position: relative;
    }
    .has-bg-image::before {
        content: "";        
        background-image: url(./image/);
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3; /* Adjust the opacity of the background image */
        z-index: -1; /* Place the pseudo-element behind the content */
	}
